{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="text-2xl font-semibold mb-4">Bienvenue sur XRide 👋</h1>
    <p>Ceci est la page d’accueil de votre plateforme de chauffeurs privés.</p>
{% endblock %}


