<footer class="bg-zinc-50 text-center text-surface/75 dark:bg-neutral-700 dark:text-white/75 lg:text-left">
  <div class="flex items-center justify-center border-b-2 border-neutral-200 p-6 dark:border-white/10 lg:justify-between">
    <div class="me-12 hidden lg:block">
      <span>Suivez-nous sur les réseaux sociaux :</span>
    </div>
    <div class="flex justify-center">
      <a href="#!" class="me-6 text-neutral-600 dark:text-neutral-200">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#!" class="me-6 text-neutral-600 dark:text-neutral-200">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#!" class="me-6 text-neutral-600 dark:text-neutral-200">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="#!" class="me-6 text-neutral-600 dark:text-neutral-200">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
  </div>

  <div class="mx-6 py-10 text-center md:text-left">
    <div class="grid-1 grid gap-8 md:grid-cols-2 lg:grid-cols-4">
      <div>
        <h6 class="mb-4 flex items-center justify-center font-semibold uppercase md:justify-start">
          XRide
        </h6>
        <p>Plateforme de partage de courses entre chauffeurs VTC. Simple, rapide et efficace.</p>
      </div>

      <div>
        <h6 class="mb-4 flex justify-center font-semibold uppercase md:justify-start">
          Aide
        </h6>
        <p class="mb-4"><a href="#">Contact</a></p>
        <p class="mb-4"><a href="#">Mentions légales</a></p>
        <p class="mb-4"><a href="#">Conditions</a></p>
        <p><a href="#">Support</a></p>
      </div>

      <div>
        <h6 class="mb-4 flex justify-center font-semibold uppercase md:justify-start">
          Contact
        </h6>
        <p class="mb-4 flex items-center justify-center md:justify-start">
          <i class="fas fa-home me-3"></i> Paris, France
        </p>
        <p class="mb-4 flex items-center justify-center md:justify-start">
          <i class="fas fa-envelope me-3"></i> contact@xride.fr
        </p>
        <p class="mb-4 flex items-center justify-center md:justify-start">
          <i class="fas fa-phone me-3"></i> +33 1 23 45 67 89
        </p>
      </div>
    </div>
  </div>

  <div class="bg-black/5 p-6 text-center">
    © {{ "now"|date("Y") }} <strong>XRide</strong> — Tous droits réservés.
  </div>
</footer>
