<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}XRide{% endblock %}</title>

    {# Encore CSS #}
    {{ encore_entry_link_tags('app') }}

    {# Bloc CSS additionnel depuis les pages enfants #}
    {% block stylesheets %}{% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body class="bg-gray-50 text-gray-800 min-h-screen flex flex-col">

    {# Header global #}
    {% include 'partials/header.html.twig' %}

    {# Contenu principal #}
    <main class="flex-1 container mx-auto py-8">
        {% block body %}{% endblock %}
    </main>

    {# Footer global #}
    {% include 'partials/footer.html.twig' %}

    {# Scripts JS via Encore #}
    {{ encore_entry_script_tags('app') }}

    {# Bloc JS additionnel depuis les pages enfants #}
    {% block javascripts %}{% endblock %}
</body>
</html>




